* {
    padding: 0;
    margin: 0;
}

:root {
    background-color: var(--lb);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    --dkb: #2f4858;
    --lb: #D3E2E7;
    --blw: #86BBD8;
    --geel: #F6AE2D;
    --ora: #F26419;
}

h2 {
    text-align: center;
    font-size: 24px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    color: antiquewhite;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 80vw;
    position: relative;
}

div {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 80vw;
    border-radius: 15px;
}

.homepage {
    background-color: var(--dkb)
}
.homepage:hover {
    background-color: #26315b;
}


.introduction {
    background-color: var(--blw);
}
.introduction:hover {
    background-color: #6f9ccb;
}


.characters {
    background-color: var(--geel);
}
.characters:hover {
    background-color: #ea8f26;
}


.gallery {
    background-color: var(--ora)
}
.gallery:hover {
    background-color: #d13f00;
}


.aboutMe {
    background-color: var(--dkb)
}
.aboutMe:hover {
    background-color: #26315b;
}


.contact {
    background-color: var(--blw)
}
.contact:hover {
    background-color: #6f9ccb;
}
